*{
    margin: 0;
    font-family: 'Averia Libre';
    font-style: normal;
}

.flex-container {
    display: flex;
    background-image: url(/imgs/vacina-background.jpg);
    background-size: auto;
    flex-direction: column;
    
}

.flex-header {
    display: flex;
    background-color: #8FE1D9;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 87px;
}

.logo {
    display: flex;
    align-items: center;
    color: #419ED7;
    font-size: 48px;
}

.seringa {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.flex-button{
    margin-right: 17px;
}

.BotaoTenhoConta {
    width: 198px;
    height: 52px;
    box-sizing: border-box;
    color: white;
    background-color: #419ED7;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.flex-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    margin-top: 330px;
    
}

.button1 {
    width: 304px;
    height: 59px;
    background-color: #419ED7;
    color: white;
    box-sizing: border-box;
    border: 1px solid #419ED7;
    font-size: 32px;
    cursor: pointer;

}

.flex-main p {
    color: #419ED7;
    font-size: 64px;
}