*{
    margin: 0;
    font-family: 'Averia Libre';
    font-style: normal;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #C1E7E3;
    
}

.flex-header {
    display: flex;
    flex-wrap: nowrap;
    background-color: #8FE1D9;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 87px;
}

.logo {
    display: flex;
    align-items: center;
    color: #419ED7;
    font-size: 48px;
}

.seringa {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.header-buttons{
    display: flex;
    flex-wrap: nowrap;
}

.header-buttons button{
    width: 180px;
    height: 34px;
    box-sizing: border-box;
    color: white;
    background-color: #419ED7;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}


.flex-main {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
    margin-top: 90px;
}

.flex-search{
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row-reverse;
}

.flex-search input{
    width: 95%;
    color: #8B8B8B;
    font-size: 24px;
    border: none;
}

.search-button{
    border: none;
    background-color: white;
    cursor: pointer;
}

.vacina-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

.vacina-item {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
  }

.nomeVac{
    font-size: 36px;
    color: #3F92C5;
}

.dose{
    background-color: #3F92C5;
    color: white;
    font-size: 16px;
}

.dataVac{
    color: #8B8B8B;
    font-size: 16px;
}

.proxDose{
    display: flex;
    justify-content: flex-end;
    color: #FD7979;
    
}

.flex-button{
    display: flex;
    justify-content: center;
}


.novaVac {
    background-color: #37BD6D;
    color: white;
    border: none;
    width: 188px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}

